#containerHome {
    margin-top: 100px;
    margin-bottom: 300px;
}

.titleCli {
font-size: 3rem;
  letter-spacing: 1px;
  margin-top: 190px !important;
  font-weight: bolder;
}

.textCli {
  font-size: 1rem;
}

.imgCliente {
  width: 500px !important;
  height: 460px;
}

.imgBarbearia {
  width: 500px !important;
  height: 460px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 3px groove white;
}

.bgBarb {
 
}

#fcBusiness {
    font-size: 30rem ;
}

.btnH {
  width: auto;
  background-color: #9c7e59 !important;
  border: none;
  font-size: 15px !important;
}

.btnH:hover {
  background-color: rgb(151, 127, 98) !important;
}

.titleBar {
  letter-spacing: 1px;
  margin-top: 150px !important;
  font-weight: bolder;
}

.logoB {
  font-size: 300px;
}

.icon {
  font-size: 20px;
}

.mediaPicker {
  background-color: #fff;
  cursor: pointer;
  transition: ease 0.3s;
}

.mediaPicker:hover {
  background-color: #eaeaea;
}

.previewImg {
  width: 180px;
  height: 180px;
}

@media ((max-width: 992px)) {
  .imgCliente {
    width: 400px !important;
    height: 400px;
  }
}

@media ((max-width: 650px)) {
  .imgCliente {
    display: none !important;
  }
}
