

.navbar-brand {
    text-decoration: none;
}


.navbar-toggler-icon {
    color: white !important;
}
#link {
    text-decoration: none;
    color: white;
    font-size: 14px;
    position: relative;
}

#link::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: rgb(22, 89, 235);
    color: rgb(247, 247, 247);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s ease-in-out;
}
#link:hover {
    color: rgb(90, 90, 90) !important;
}
#link:hover::after {
    width: 100%;
}

.btn {
    background-color: #0f4c83;
    border: none;
    font-size: 16px;
}

.btn svg {
    font-size: 25px;
    margin-right: 8px;
}

.btn:hover {
    background-color: #29689e;
}



@media ((max-width: 978px)) {
    #navbarScroll a{
        margin-top: 10px;
    }
    button {
        margin-top: 18px !important;
    }

}

.logo {
    width: 130px ;
}

#dropdown-basic:hover {
    color: rgb(90, 90, 90) !important;
}

