@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

body {
  font-family: "Inter", sans-serif !important;
  background-color: #f8f9fa !important;
  display: flex;
    flex-direction: column;
    min-height: 100vh !important;
    margin: 0;
}

:root {
  --blue-strong: #0f4c83;
  --blue-weak: #0f4f8f;
}

.bg-blue {
  background-color: var(--blue-strong)
}

.bg-brown {
  background-color: #63523D;
}


.bg-white {
  background-color: white;
}


.nav-link:hover {
  background-color: #e9ecef;
}
.nav-link span {
  font-size: 16px;
  font-weight: 600;
}

.nav-link-painel:hover {
  background-color: gra
}

.default-margin {
  margin-top: 100px;
  margin-bottom: 100px;
}

.navbar-toggler-icon {
  color: #292929 !important;
  border: none !important;
}

.navtoggle {
  border: none !important;
  text-decoration: none !important;
}

.toastEmail svg {
  font-size: 26px;
  z-index: 1;
}

footer {
  /*border-top: 1px solid rgb(184, 184, 184);*/
  width: 100%;
  height: 100px;
  bottom: 0 !important;
}
footer svg {
  font-size: 22px !important;
}

.form-control {
  font-size: 14px !important;
}

.buscarBarb {
  width: 350px !important;
  height: 70px !important;
}

a {
  text-decoration: none !important;
}

b {
  color: #646464;
}

.dropdown-toggle::after {
  content: none !important;
}


/* HorarioSelector.css */
/* Estilo para o TimePicker */

/* Estilo para o TimePicker input */
.react-time-picker__inputGroup {
  display: flex;
  align-items: center;
  
}

.react-time-picker__inputGroup__input {
  flex-grow: 1;
  border: none;
  border-bottom: 2px solid var(--blue-strong);
  outline: none;
  font-size: 18px;
  padding: 10px;
}

/* Estilo para o botão de limpar */
.react-time-picker__inputGroup__clear-button {
  background-color: transparent;
  border: none;
  color: var(--blue-strong);
  cursor: pointer;
}

.react-time-picker__inputGroup__clear-button:hover {
  text-decoration: underline;
}

.react-time-picker__inputGroup__leadingZero {
  display: none;
}

/* TabelaEventos.css */

/* Estilo da tabela */
.tabela-eventos {
  margin: 20px;
}

/* Estilo do cabeçalho dos dias da semana */
.cabecalho-dia {
  background-color: var(--blue-strong); 
  color: white; 
  text-align: center; 
}

/* Estilo dos eventos */
.evento {
  margin: 5px;
  padding: 5px; 
  background-color: #f2f2f2; 
  border: 1px solid #ccc; 
}

.custom-datepicker input {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
}

/* Estilize o calendário de datas */
.custom-datepicker .react-datepicker {
  font-family: Arial, sans-serif;
}

/* Estilize os dias no calendário */
.custom-datepicker .react-datepicker__day {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
}

/* Estilize os dias selecionados no calendário */
.custom-datepicker .react-datepicker__day--selected {
  background-color: #007bff;
  color: #fff;
}

.btn-prev {
  background-color: #f8f9fa !important;
}

.btn-prev:hover {
  background-color: #f0f0f0 !important;
}


